.btn {
  &--base {
    color: $white;
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 2px solid $white;
    text-align: center;
    transition: 0.2s ease-in;
    cursor: pointer;

    &:hover {
      background: $white;
    }
  }

  &--plain {
    color: $white;
    background: $primary-color;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 2px solid $primary-color;
    text-align: center;
    transition: 0.2s ease-in;
    cursor: pointer;

    &:hover {
      color: $primary-color;
      background: $white;
    }
  }

  &--color-primary {
    &:hover {
      color: $primary-color;
    }
  }

  &--color-secondary {
    &:hover {
      color: $secondary-color;
    }
  }

  &--disabled {
    cursor: not-allowed;
    background: $gray-light;
    opacity: 0.6;
    border: 1px solid $gray-light;

    &:hover {
      color: $white;
      background: $gray-light;
    }
  }
}