.btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-align: center;
  transition: 0.2s ease-in;
  cursor: pointer;

  &--base {
    color: $white;
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 2px solid $white;
    text-align: center;
    transition: 0.2s ease-in;
    cursor: pointer;
    
    &:hover {
      background: $white;
    }
  }
  
  &--plain {
    border: 2px solid $primary-color;
    color: $white;
    background: $primary-color;

    &:hover {
      color: $primary-color;
      background: $white;
    }
  }

  &--secondary {
    border: 2px solid $secondary-color;
    color: $white;
    background: $secondary-color;

    &:hover {
      color: $secondary-color;
      background: $white;
    }
  }

  &--color-primary {
    &:hover {
      color: $primary-color;
    }
  }

  &--color-secondary {
    &:hover {
      color: $secondary-color;
    }
  }

  &--disabled,
  &:disabled {
    cursor: auto;
    opacity: 0.3;

    &:hover {
      color: $white;
      background: $primary-color;
    }
  }
}

.btn__modal--close {
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  transition: 0.2s ease-out;

  &:hover {
    opacity: 0.7;
  }
}
