.compagnie {
  .container {
    display: flex;
    flex-flow: column;
    padding: 0 1rem 3rem;

    @include screen-sm {
      flex-flow: row;
    }

    &__image {
      @include screen-sm {
        width: 50%;
      }

      .image {
        width: 100%;
        transform: translateX(-30px);
        transition: 0.4s ease-in;
        opacity: 0;

        &.show {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

    &__content {
      @include screen-sm {
        width: 50%;
        padding: 0 6rem 0 3rem;
      }
    }

    .secondary-heading {
      text-align: center;
      margin: 0 0 1rem;

      @include screen-sm {
        margin: 3rem 0 2rem;
        text-align: right;
      }
    }

    p {
      text-align: justify;
      margin: 0 0 1rem;
    }
  }
}
