.footer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 1rem;
  background: $tertiary-color;
  color: $white;

  p {
    font-weight: $fontWeightLight;
    margin: 0 0 0.3rem;
  }

  @include screen-sm {
    font-size: 0.8rem;
    flex-flow: row;
    justify-content: center;

    p {
      margin: initial;
    }
  }
}