.footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background: $tertiary-color;
  color: $white;

  p {
    font-weight: $fontWeightLight;
    margin: 0 0 0.3rem;
  }

  @include screen-sm {
    font-size: 0.8rem;
    flex-flow: row;

    p {
      margin: initial;
    }
  }
}
