.furiosa {
  position: relative;
  padding: 0 0 4rem;

  @include screen-sm {
    padding: 0 0 10rem;
  }

  .furiosa--bg {
    background: $secondary-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skew(0, 15deg);
  }

  .container {
    position: relative;
    padding: 1rem;

    @include screen-sm {
      display: grid;
      grid-template:
        "containerTitle containerTitle"auto "containerContent containerImage"auto / 1fr 1fr;


    }

    &__title {

      @include screen-sm {
        padding: 0 0 0 5rem;
        grid-area: containerTitle;
      }
    }

    &__content {
      @include screen-sm {
        padding: 0 0 0 5rem;
        grid-area: containerContent;
      }

      p {
        text-align: justify;
        margin: 0 0 1rem;
      }

      .content__quote {
        @include screen-sm {
          margin: 3rem 0;
        }
      }
    }

    &__image {
      grid-area: containerImage;

      .image {
        width: 50%;
        display: block;
        margin: 2rem auto;

        @include screen-sm {
          margin: 10rem 0 0 4rem;
        }
      }
    }

    &__cta {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 2rem 0 0;

      .btn--base {
        min-width: 250px;
        margin: 0 0 1rem;
      }
    }
  }
}