.gallery {
  .container {
    .secondary-heading {
      padding: 3rem 0 2rem 1rem;

      @include screen-sm {
        padding: 3rem 0 0 6rem;
      }
    }
  }

  .carousel {
    overflow-x: hidden;
    padding: 0 0 6rem;

    @include screen-sm {
      max-width: $screen-md;
      margin: 0 auto;
      overflow-x: initial;
      padding: initial;
    }

    .image--list {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      overflow-y: hidden;
      height: 100vw;
      max-height: 100vh;
      --n: 1;
      width: 100%;
      width: calc(var(--n) * 100%);
      transform: translate(calc(var(--i, 0) / var(--n) * -100% + var(--tx, 0px)));
      opacity: 0;
      transition: 0.4s ease;

      &.show {
        opacity: 1;
      }

      &.smooth {
        transition: transform calc(var(--f, 1) * 0.5s) ease-out;
      }

      @include screen-sm {
        overflow-y: initial;
        height: auto;
        max-height: auto;
        padding: 4rem;
        min-height: 540px;
        width: 100%;
      }
    }

    .image--item,
    .image--item__container {
      width: 100%;

      @include screen-sm {
        margin: 0 auto;
        transform-origin: 50% 50%;
        overflow: hidden;
        width: 250px;
        height: 250px;
      }
    }

    .image--item {
      pointer-events: none; // needed for the swipe to work

      @include screen-sm {
        transform: rotate(45deg) translateY(10px);
        box-shadow: 20px 40px 19px rgba(157, 157, 157, 0.7);
        position: relative;
        transition: 0.2s ease-out;
        pointer-events: initial;

        &:not(:last-child) {
          width: 200px;
          height: 200px;
        }

        &:hover {
          width: 250px;
          height: 250px;
          z-index: 4;

          ~ .image--item {
            width: 200px;
            height: 200px;
          }
        }
      }

      // &--1 {
      //   order: 1;
      // }

      // &--2 {
      //   order: 2;
      // }

      // &--3 {
      //   order: 3;
      // }

      // &--4 {
      //   order: 4;
      // }

      // &--5 {
      //   order: 5;
      // }

      // &--6 {
      //   order: 6;
      // }

      // &--7 {
      //   order: 7;
      // }

      // &--8 {
      //   order: 8;
      // }

      // &--9 {
      //   order: 9;
      // }

      // &--10 {
      //   order: 10;
      // }

      // &--11 {
      //   order: 11;
      // }

      // &--12 {
      //   order: 12;
      // }

      // &--13 {
      //   order: 13;
      // }
    }

    .image--item__container {
      @include screen-sm {
        width: 355px;
        height: 355px;
        transform: rotate(-45deg) translateY(-74px);
      }
    }

    .image {
      height: 100vw;

      @include screen-sm {
        width: 100%;
        height: auto;
      }
    }

    // Controls
    .slider--controls {
      display: flex;
      justify-content: center;
      align-items: center;

      .slider--control {
        width: 10px;
        height: 10px;
        background: transparent;
        border: 1px solid $primary-color;
        border-radius: 10px;
        margin: 0.5rem;
        transition: 0.2s ease;

        &.active {
          background: $primary-color;
        }
      }
    }
  }
}
