.hero {
  background: $primary-color;

  .logo-container {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .down-arrow--logo {
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-top: 220px solid $white;
  }

  .logo {
    width: 80px;
    position: relative;
    z-index: 2;
    margin: 20px 0 0 20px;
  }

  .catch-phrase {
    font-size: 18px;
    text-align: center;
    margin: 100px 0 0;
  }

  .menu {
    padding: 2rem;

    ul {
      display: flex;

      li {
        display: flex;
        flex-flow: column;
        align-items: center;
        flex: 1;
        text-align: center;

        &:before {
          content: '';
          display: flex;
          width: 10px;
          height: 10px;
          background: $white;
          transform: rotate(-45deg);
          margin: 0 0 .5rem;
        }

        a {
          color: $white;
          transition: transform .2s ease-in;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}