section {
  &:not(.gallery) {
    min-height: 100vh;
  }

  @include screen-sm {
    min-height: 100vh;
  }

  &.contact {
    min-height: calc(100vh - 65px);
  }
}

.secondary-heading {
  font-family: SourceCode;
}