section {
  &:not(.gallery, .residence) {
    min-height: 100vh;
  }

  @include screen-sm {
    &:not(.residence) {
      min-height: 100vh;
    }
  }

  &.contact {
    // min-height: calc(100vh - 65px);
    min-height: calc(100vh - 435px);
  }
}

.secondary-heading {
  font-family: SourceCode;
}
