.backdrop {
  display: none;
  position: fixed;
  z-index: $zindex-modal-backdrop;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include backgroundOpacity($blackRGB, 0.7);

  &.visible {
    display: block;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: $zindex-modal;
  width: 100%;
  max-width: 600px;
  background: $white;
  border-radius: 4px;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);

  &.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
  }

  &__content {
    padding: 1rem;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  .secondary-heading {
    text-align: center;
    margin: 0 0 1rem;
  }
}

@keyframes fade-slide-in {
  0% {
    top: 0;
    opacity: 0;
  }

  50% {
    top: 5vh;
    opacity: .7;
  }

  100% {
    top: 10vh;
    opacity: 1;
  }
}

@keyframes fade-slide-out {
  0% {
    top: 10vh;
    opacity: 1;
  }

  50% {
    top: 5vh;
    opacity: .3;
  }

  100% {
    top: 0vh;
    opacity: 0;
  }
}