.residence {
  position: relative;
  z-index: $zindex-residence-section;

  .residence--bg {
    background: $primary-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skew(0deg, -15deg);
    z-index: -1;
  }

  .secondary-heading {
    text-align: center;
    padding: 4rem 1rem 1rem;

    @include screen-sm {
      text-align: right;
      padding: 4rem 13rem 1rem;
    }
  }

  .container {
    display: flex;
    flex-flow: column;
    padding: 1rem 1rem 3rem;

    @include screen-sm {
      flex-flow: row;
      padding: 9rem 0 2rem;
    }

    &__content {
      order: 2;

      @include screen-sm {
        order: 1;
        flex: 1;
        padding: 0 0 0 6rem;
      }

      p,
      li {
        text-align: justify;
      }

      p {
        margin: 0 0 1rem;
      }
    }

    &__cta {
      order: 1;
      display: flex;
      flex-flow: column;
      align-items: center;
      margin: 0 0 1rem;

      @include screen-sm {
        order: 2;
        flex: 1;
      }

      .btn--base {
        min-width: 220px;
        margin: 0 0 1rem;
      }
    }
  }
}
