///////////
// COLORS
///////////

$white: #fff;
$black: #000;

$tundora: #444;
$dove-gray: #707070;

$fountain-blue: #5dbeba;

$school-bus-yellow: #ffde00;

$primary-color: $fountain-blue;
$secondary-color: $school-bus-yellow;

//////////
// FONTS
//////////

// Roboto
$fontRoboto: 'Roboto', sans-serif;

// Base 02
$base02-path: '/assets/fonts/base_02/Base02.ttf';

@font-face {
    font-family: Base02;
    src: url($base02-path);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sport;
    src: url('/assets/fonts/TrueType/SFSportsNight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TombRaider;
    src: url('/assets/fonts/tombRaider/TombRaider.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: safeFromHarm;
    src: url('/assets/fonts/safeFromHarm/safeFromHarm.ttf');
    font-weight: normal;
    font-style: normal;
}

////////////////
// FONT WEIGHT
////////////////

$fontWeightLight: 300;
$fontWeightBase: 400;
$fontWeightSemi: 500;
$fontWeightBold: 600;
$fontWeightBolder: 700;

/////////////////
// Z-INDEX
/////////////////
$zindex-header: 50;
$zindex-modal: 100;

/////////////////
// SCREEN SIZES
/////////////////

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
