<section id="avril" class="avril">
  <div class="avril--bg"></div>
  <div class="container">
    <div class="container__title">
      <h2 class="secondary-heading">Avril</h2>
    </div>
    <div class="container__content">
      <p>
        La Compagnie Bela & Côme - Association La Clé du Quai propose des
        accueils en résidence pour les artistes et compagnies du spectacle
        vivant, et plus spécifiquement en
        <strong>danse contemporaine et en théâtre</strong>.
      </p>
      <p>
        Après plusieurs années d'accueil dans le centre ville de Bordeaux, ces
        accueils en résidence se font désormais dans un cadre beaucoup plus
        paisible, hors de la ville, dans les Landes, près du charmant village de
        Belhade (à 1h de Bordeaux, vers le Sud).
      </p>
      <p>
        Vous trouverez toutes les informations
        <a
          class="color-white"
          href="https://lacleduquai.com/lcdq/residence"
          target="blank"
          ><strong>ici</strong></a
        >
      </p>
    </div>
  </div>
</section>
