<section id="avril" class="avril">
  <div class="avril--bg"></div>
  <div class="container">
    <div class="container__title">
      <h2 class="secondary-heading">Avril</h2>
    </div>
    <div class="container__content">
      <p></p>

      <div class="container__cta">
        <button
          type="button"
          class="btn--base btn--color-secondary"
          id="show-calendar-btn"
        >
          Calendrier
        </button>
        <a
          class="btn--base btn--color-secondary"
          target="_blank"
          href="./furiosa.pdf"
        >
          Dossier artistique complet
        </a>
      </div>
      <p></p>
      <p></p>
    </div>
  </div>
</section>
