<section id="avril" class="avril">
  <div class="avril--bg"></div>
  <div class="container">
    <div class="container__title">
      <h2 class="secondary-heading">Avril</h2>
    </div>
    <div class="container__image">
      <img
        src="../images/avril.jpg"
        id="avril-img"
        class="image"
        alt="avril dessin"
      />
    </div>
    <div class="container__content">
      <p>
        <strong>Lutter autrement</strong>
      </p>
      <p>
        Création de la <strong>Cie Bela&Côme</strong><br />
        Duo - danse contemporaine - tout public - durée estimée : 1h15
      </p>
      <p>
        A 00h20 le 25 Avril 1974, Radio Renascença diffuse Grândola, Vila
        Morena, chanson interdite par le régime salazariste et signal du début
        des opérations du Mouvement des Forces Armées (MFA). Dans la nuit, le
        MFA s’empare des centres névralgiques de la capitale Lisbonne et lance
        un appel au calme tout en incitant la population à rester chez elle.
        L’action révolutionnaire est un succès, l’appel à rester chez soi est un
        échec : tous les habitants se retrouvent dehors, en liesse, pour fêter
        leur libération.
      </p>
      <p>
        La première aura lieu en Avril 2024, pour les 50 ans de la Révolution
        des Oeillets.
      </p>
      <p>
        <strong>DISTRIBUTION</strong>
      </p>
      <p>
        <strong>Dramaturgie et écriture chorégraphique</strong> • Côme TANGUY<br />
        <strong>Interprétation</strong> • Bela BALSA et Martina CONSOLI <br />
        <strong>Scénographie</strong> • Gabrielle HERCE<br />
        <strong>Création lumière</strong> • Valentin MOULIGNÉ
      </p>

      <div class="container__cta">
        <button
          type="button"
          class="btn--base btn--color-secondary"
          id="show-calendar-btn"
        >
          Calendrier
        </button>
        <a
          class="btn--base btn--color-secondary"
          target="_blank"
          href="./dossier_artistique-AVRIL.pdf"
        >
          Dossier artistique complet
        </a>
      </div>
    </div>
  </div>
</section>
