<!-- COMPANY -->
<section id="compagnie" class="compagnie">
  <div class="container">
    <div class="container__image">
      <img
        alt="dessin bela et come"
        src="../images/betcome-threshold.png"
        id="bela-come-img"
        class="image"
      />
    </div>
    <div class="container__content">
      <h2 class="secondary-heading">la Compagnie</h2>
      <p>
        <strong>La Cie Bela & Côme</strong>
        est née de la rencontre entre Bela Balsa et Côme Tanguy. Elle a été
        créée en 2013. Son mode d’expression emprunte à la danse contemporaine
        et au théâtre pour, dans chaque projet, mettre la parole en mouvement et
        faire parler les corps.<br />
        Ce que nous recherchons avant tout, c’est la qualité d’un mouvement
        plutôt que sa forme. Et cette qualité, la force de ce que ce mouvement
        pourra transmettre, peut se construire soit dans le geste technique
        dansé, soit dans l’approche sensible du personnage incarné.
      </p>
      <p>
        <strong>Bela Balsa</strong> est danseuse contemporaine. Elle a suivi une
        formation au Portugal et en Belgique à l'Ecole Supérieure de Danse de
        Lisbonne et au Conservatoire Royal d'Anvers. Elle a été initialement
        formée au hip-hop avant de suivre ces cursus contemporains. Depuis
        toujours c’est la question de l’interprétation qui la passionne, qu’elle
        soit dansée, jouée ou chantée. Dès lors, elle prend de plus en plus part
        à des projets mêlant différentes formes artistiques.<br />
        A Bordeaux, elle crée et gère, avec Côme Tanguy, le café culturel La Clé
        du Quai et leur Compagnie Bela & Côme. En parallèle, elle passe par le
        CIAM, pour perfectionner son chant et travaille dans divers projets
        bordelais, landais et basques en tant que chorégraphe ou interprète
        pluridisciplinaire (Cie Jusqu'à l'Aube, Cie So.K, Cie Claque la Baraque,
        Cie des Petites Secousses, Cie Loli Stars).
      </p>
      <p>
        Après une première approche en théâtre, <strong>Côme</strong> se forme à
        la danse contemporaine. D’abord à Bordeaux, auprès du conservatoire
        Jacques Thibaut et de la Cie Lullaby, puis auprès de différents
        pédagogues : Mark Tompkins, Thierry Thieu Niang, Mathilde Monnier, Wim
        Vandekeybus, Myriam Gourfink… Il intègre alors différents projets
        chorégraphiques et comprend rapidement que ce qui le passionne c'est le
        travail d’improvisation, la pédagogie et l’écriture chorégraphique. Il
        développe alors ses projets personnels, pédagogiques et artistiques, au
        sein de sa Cie Bela&Côme et auprès d'autres artistes comme la Cie Claque
        La Baraque, la Cie Les Petites Secousses, le Festival Chahuts, le
        Conservatoire de Bordeaux…
        <br />
        Il complète son expertise en suivant la formation chorégraphique
        Prototype (Royaumont), en 2017, auprès d’Hervé Robbe.
        <br />
        En 2019, il reprend une formation intensive au sein de La Faktoria
        (Pampelune) où il retrouve de nombreux chorégraphes contemporains de
        premier plan pour renouer avec une dynamique de mouvement puissante et
        intensive. Aujourd’hui, son approche chorégraphique est marquée par une
        très grande attention portée au sens, au rythme et à l’espace, liée à
        une approche symbiotique entre le mot et le geste.
      </p>
    </div>
  </div>
</section>
