<section id="contact" class="contact">
  <div class="container">
    <div class="container__image">
      <img
        alt="main dessin"
        class="image"
        id="hand-img"
        src="../images/hand-threshold-reverse.png"
      />
    </div>
    <div class="container__form">
      <h2 class="secondary-heading">Contact</h2>
      <div class="contact__info">
        <p>
          <strong>Compagnie Bela&Côme</strong>
        </p>
        <p>
          <br />
          <br />
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="16"
              viewBox="0 0 20 16"
            >
              <path
                id="ic_mail_outline_24px"
                d="M20,4H4A2,2,0,0,0,2.01,6L2,18a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V6A2.006,2.006,0,0,0,20,4Zm0,14H4V8l8,5,8-5Zm-8-7L4,6H20Z"
                transform="translate(-2 -4)"
              />
            </svg>
          </span>
          Association La Clé du Quai<br />
          49 rue du Mirail 33000 Bordeaux
        </p>
        <p>
          <span>@</span>
          cie.bela.come@gmail.com
        </p>
        <p>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 18 18"
            >
              <path
                id="ic_call_24px"
                d="M6.62,10.79a15.149,15.149,0,0,0,6.59,6.59l2.2-2.2a.994.994,0,0,1,1.02-.24,11.407,11.407,0,0,0,3.57.57,1,1,0,0,1,1,1V20a1,1,0,0,1-1,1A17,17,0,0,1,3,4,1,1,0,0,1,4,3H7.5a1,1,0,0,1,1,1,11.36,11.36,0,0,0,.57,3.57,1,1,0,0,1-.25,1.02Z"
                transform="translate(-3 -3)"
              />
            </svg>
          </span>
          <a class="phone-number" href="tel:+33662126335">06 62 12 63 35</a>-<a
            class="phone-number"
            href="tel:+33650391216"
            >06 50 39 12 14</a
          >
        </p>
      </div>
      <div class="form-wrapper">
        <div id="loader-contact" class="loader-contact hidden">
          <svg class="circular-loader" viewBox="0 0 50 50" style="width: 100px">
            <circle
              class="loader-path"
              id="loader-path"
              cx="25"
              cy="25"
              r="20"
              fill="none"
              stroke="#5dbeba"
              stroke-width="2"
            />
          </svg>
        </div>

        <!-- CONTACT FORM  MESSAGES-->
        <p class="message success hidden" id="success-message">
          Votre message a bien été envoyé, merci!
        </p>
        <p class="message error hidden" id="error-message">
          Une erreur s'est produite, veuillez réessayer.
        </p>

        <!-- CONTACT FORM -->
        <form class="form" id="contact-form" novalidate>
          <div class="form__group-wrapper">
            <div class="form__group form--text">
              <input
                id="form-name"
                class="form__control"
                type="text"
                required
                minlength="3"
              />
              <label class="form__label">
                <span class="form__label--content"
                  >Nom<span class="font-color-primary"> *</span></span
                >
              </label>
            </div>
            <p class="form__error invisible">Veuillez renseigner votre nom</p>
          </div>

          <div class="form__group-wrapper">
            <div class="form__group form--text">
              <input
                id="form-email"
                class="form__control"
                type="email"
                required
              />
              <label class="form__label">
                <span class="form__label--content"
                  >Email<span class="font-color-primary"> *</span></span
                >
              </label>
            </div>
            <p class="form__error invisible">Veuillez renseigner votre email</p>
          </div>

          <div class="form__group-wrapper">
            <div class="form__group form--text">
              <input
                id="form-subject"
                class="form__control"
                type="text"
                required
              />
              <label class="form__label">
                <span class="form__label--content"
                  >Sujet<span class="font-color-primary"> *</span></span
                >
              </label>
            </div>
            <p class="form__error invisible">
              Veuillez renseigner le sujet du message
            </p>
          </div>

          <div class="form__group-wrapper">
            <div class="form__group form--textarea">
              <textarea
                id="form-message"
                class="form__control"
                required
                minlength="3"
              ></textarea>
              <label class="form__label">
                <span class="form__label--content"
                  >Message<span class="font-color-primary"> *</span></span
                >
              </label>
            </div>
            <p class="form__error invisible">Veuillez décrire votre demande</p>
          </div>

          <button
            type="submit"
            id="submit-contact-btn"
            class="btn btn--plain"
            disabled
          >
            Envoyer
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
