<section id="en-liesse" class="en-liesse">
  <div class="en-liesse--bg"></div>
  <div class="container">
    <div class="container__title">
      <h2 class="secondary-heading">En Liesse</h2>
    </div>
    <div class="container__image">
      <img
        src="../images/en-liesse-bela.jpg"
        id="en-liesse-img"
        class="image"
        alt="en-liesse dessin"
      />
    </div>
    <div class="container__content">
      <p>
        <strong>On y vient en solo, on repart en société</strong>
      </p>
      <p>
        “En Liesse” est un spectacle chorégraphique immersif pour six
        interprètes et un public actif.
        <br />

        C’est un grand spectacle partagé, à l'image de notre société : danseurs
        et public, nous y sommes tous acteurs. On s'interroge, on doute ensemble
        et, surtout, on se met en mouvement pour développer notre puissance
        d'action sur le monde. Ça danse, ça chante, ça raconte plein
        d'histoires.
        <br />
        On y vient en solo, et on repart en société.<br />

        S’inspirant des réflexions du sociologue Bruno Latour dans “Où
        atterrir”, la pièce vise à redéfinir nos dépendances et nos puissances
        d'action pour donner l'envol, la dynamique, et se mettre en mouvement !
      </p>
      <p>
        “En liesse” s'articule en trois temps :<br />
        1- Le temps du spectacle chorégraphique où le public circule et profite
        des propositions qui lui sont faites<br />
        2- Le temps de Débat Mouvant où les spectateurs et spectatrices entament
        une réelle réflexion et mise en mouvement <br />
        3- La mise en danse collective où l’œuvre se déploie avec le public qui
        accompagne les interprètes dans la danse.
      </p>
      <p>
        Durée : 1 heure + temps festif et d’échange informel à la fin de la
        pièce.<br />
        Chaque représentation amène les spectateurs et spectatrices à se
        questionner et à échanger entre eux. Ayant eu l’occasion de se
        rencontrer pendant la pièce, le public est amené à en discuter
        naturellement à la fin de l’événement.
      </p>
      <p>
        <strong>DISTRIBUTION</strong><br />
        <strong>Dramaturgie</strong> • Bela Balsa et Côme Tanguy<br />
        <strong>Textes</strong> • Côme Tanguy<br />
        <strong>Accompagnement philosophique</strong> • Sophie Geoffrion<br />
        <strong>Interprètes</strong> • Bela Balsa, Jessica Yactine, Judith
        Arazi, Klara Beyeler, Piaera Lauritz et Sophie Blet<br />
        <strong> Régie </strong> • Antoine Berland<br />
        <strong> Crédit photo </strong> • Steve Laurens<br />
      </p>

      <div class="container__cta">
        <button
          type="button"
          class="btn--base btn--color-secondary"
          id="show-calendar-btn"
        >
          Calendrier
        </button>
        <a
          class="btn--base btn--color-secondary"
          target="_blank"
          href="./En liesse - Cie Bela&Côme Dossier de diffusion.pdf"
        >
          Dossier artistique complet
        </a>
        <a
          class="btn--base btn--color-secondary"
          target="_blank"
          href="https://www.youtube.com/watch?v=2y2NFsEvH7Y"
          >Teaser</a
        >
      </div>

      <p>
        <strong>Partenaires</strong><br />
        MACS • Département des Landes • Culture en Herbe • Ville de Soustons •
        Sore • Belhade • Le Kontainer • Ville de Tarnos • Collège Jean Rostand
        (Mont-de-Marsan) • Conservatoire de Mont-de-Marsan
      </p>
    </div>
  </div>
</section>
