    <!-- FURIOSA SECTION -->
     <section id="creations" class="furiosa">
      <div class="furiosa--bg"></div>
      <div class="container">
        <div class="container__image">
          <img src="../images/furiosa_dessin.png" id="furiosa-img" class="image" alt="furiosa dessin" />
        </div>
        <div class="container__diffusion">
        <!-- DIFFUSION -->
        <h2 class="secondary-heading">Diffusion</h2>
          <ul>
            <li class="repertoire-item close">
              <div class="repertoire-item__heading">
                <p>Furiosa</p>
                <div class="iconPlus">
                  <span class="plus"></span>
                  <span class="minus"></span>
                </div>
              </div>
              <div class="repertoire-item__content">
                <div class="repertoire-item__content--text">
                  <p>
                    «Homme de guerre je te regarde
                    Regarde-moi <br />
                    Je te dis regarde-moi <br />
                    [...] Je suis celle qui essaie de
                    <br />
                    comprendre par la colère <br />
                    Comme la cascade comprend <br />
                    la roche par la colère»
                  </p>
                  <p>
                    <strong>Furiosa</strong> est une création de la Cie Bela&Côme.
                    C'est un seule en scène mêlant
                    danse et théâtre, d'après le texte
                    Stabat Mater Furiosa, de JP Siméon.
                  </p>
                  <p>Ce poème est le discours d’une femme
                    épuisée de sans cesse répéter le
                    malheur, sans que rien ne bouge
                    jamais. Elle cherche à sortir d’une
                    logique
                    stérile de dénonciation-spectacle qui
                    se nourrit de l’horreur qu’elle
                    dénonce
                    pour offrir une expérience sensible
                    qui puisse faire germer une
                    possibilité de
                    transformation.
                  </p>
                  <p>
                    Agir par violence n’est qu’une façon
                    de poser son regard sur le monde.
                  </p>
                  <p>
                    Ce que nous voulons, c’est que ses
                    mots et sa danse entrent dans nos
                    tripes, comme un remord inconciliable.
                    Que son message s’ancre en nous, profondément, pour nous titiller sans
                    relâche dès que l’enjeu de la vie nous
                    confronte. Il nous faut créer cette
                    magie qui entre dans nos têtes, dans
                    nos
                    corps, et y laisse son empreinte
                    particulière.
                  </p>
                  <p>
                    On s'adresse au conscient, mais aussi
                    aux nerfs, aux os, à la chair. On fait
                    vibrer le corps en face de soi pour y
                    caler sa résonnance perpétuelle, celle
                    qui s'inscrit dans le flux nerveux de
                    l’autre pour ne jamais le laisser
                    tranquille.
                  </p>
                  <p>
                    <strong>Durée :</strong> 50
                    minutes<br />
                    <strong>Interprète :</strong> Bela
                    BALSA <br />
                    <strong>Chorégraphie et mise en scène
                      :</strong> Côme TANGUY<br />
                    <strong>Aide à la mise en scène
                      :</strong> Jérôme BATTEUX et
                    Anthony TRICARD<br />
                    <strong>Texte :</strong> Stabat Mater
                    Furiosa, de Jean-Pierre
                    SIMEON<br />
                    <strong>Soutiens :</strong> Le Cerisier
                    (Bordeaux) - Le Container (Angresse) -
                    Centre d’Animation du Grand Parc
                    (Bordeaux) - La Faktoria -
                    Choreographic center (Pampelune -
                    Espagne) -
                    Lycée Professionnel Henri Brulle
                    (Libourne) - Ville de
                    Saint-Paul-Lès-Dax
                  </p>
                  <p>
                    <strong>La création est accompagnée
                      par le Département des Landes, dans
                      le cadre du dispositif Culture en
                      Herbe
                      2020-2021.</strong>
                  </p>
                  <p class="text-center">
                    <a
                    class="btn--base btn--color-secondary"
                    target="_blank"
                    href="./furiosa.pdf"
                    >
                    Dossier artistique complet
                  </a>
                </p>
                </div>
                <div class="repertoire-item__content--visual">
                  <div class="repertoire-item__content--video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/odvImaHcPc0" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        <!-- REPERTOIRE -->
         <div class="container__repertoire">
          <h2 class="secondary-heading">Anciennes créations</h2>
          <ul>
            <li class="repertoire-item close">
              <div class="repertoire-item__heading">
                <p>Et Rien Ne Bouge</p>
                <div class="iconPlus">
                  <span class="plus"></span>
                  <span class="minus"></span>
                </div>
              </div>
              <div class="repertoire-item__content">
                <div class="repertoire-item__content--text">
                  <p>
                    <strong>Pièce chorégraphique
                      pour un public
                      actif.</strong>
                    <br>
                    Les mouvements massifs de
                    contestation sociale en France
                    et dans le monde de ces
                    dernières années
                    nous poussent à nous emparer
                    de cette dynamique pour
                    questionner, à travers l’acte
                    chorégraphique,
                    ce qu’est le corps de la
                    révolte : ses dynamiques, ses
                    moteurs, ses enjeux et ses
                    risques.
                    <br>
                    En trois étapes, nous
                    proposons au public de
                    <strong>questionner sa posture
                      de spectateur</strong>,
                    pour l’amener, par le biais de
                    questions fortement ancrées
                    dans les enjeux sociaux
                    actuels, à
                    <strong>se questionner
                      personnellement sur les
                      enjeux auxquels il est
                      attaché</strong>, le
                    conduisant enfin à <strong>se
                      mettre en mouvement en
                      collectivité</strong>.
                  </p>
                  <p>
                    <strong>Performée à
                      Bordeaux</strong>, au marché
                    des Douves, dans le cadre de
                    Dansons sur les
                    Quais
                    et lors du festival Le Bruit
                    des Corps.
                  </p>
                  <p>
                    <strong>Durée</strong> : 1
                    heure + temps convivial
                    d’échange informel à la fin de
                    la pièce.
                    <br>
                    <strong>Interprètes</strong> :
                    Bela BALSA / Jérôme BATTEUX /
                    Manon CAPRARO / Jean-François
                    COFFIN /
                    Laure DESPLAN / Alice LADA
                    <br>
                    <strong>Chorégraphie</strong>
                    : Côme TANGUY<br>
                    <strong>Aide à l'écriture
                      chorégraphique </strong>:
                    Bela BALSA</br>
                    <strong>Aide à la création
                      sonore</strong> : Mariele
                    BARAZIOL<br>
                    <strong>Textes</strong>:
                    Jérôme BATTEUX – <a href="https://www.petitessecousses.fr/" target="blank">Cie des
                      Petites Secousses</a><br>
                    <strong>Soutiens</strong>: <a href="https://www.douves.org" target="blank">Marché des
                      Douves</a>, <a href="https://www.dansonssurlesquais.fr/" target="_blank">Dansons sur
                      les Quais</a>, Mairie de
                    Bordeaux
                  </p>
                </div>
                <div class="repertoire-item__content--visual">
                  <div class="repertoire-item__content--video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/k4CWc_fp3_U" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="repertoire-item close">
              <div class="repertoire-item__heading">
                <p>Entrez dans la danse</p>
                <div class="iconPlus">
                  <span class="plus"></span>
                  <span class="minus"></span>
                </div>
              </div>
              <div class="repertoire-item__content">
                <div class="repertoire-item__content--text">
                  <p>
                    <strong>Création à la demande
                      du festival CHAHUTS pour
                      l'édition 2018 et
                      2019</strong> qui prend la
                    forme d'un Flash Mob dansé sur
                    la place St MIchel, à
                    Bordeaux, lors de la soirée
                    d'inauguration.
                  </p>
                  <p>
                    Edition 2018 - avec adultes
                    usagers de la MDSI et
                    differents partenaires du
                    quartier St Michel.
                  </p>
                  <p>
                    Edition 2019 - avec les
                    enfants, élèves du CP au CM2
                    de l'école des Menuts.
                  </p>
                  <p>
                    <strong>Durée</strong> : 10
                    minutes<br>
                    <strong>Chorégraphie</strong>
                    : Bela BALSA / Côme TANGUY<br>
                    <strong>Partenariat</strong> :
                    Chahuts
                  </p>
                </div>
                <div class="repertoire-item__content--visual">
                  <div class="repertoire-item__content--img">
                    <img alt="entrez dans la danse" class="image" src="../images/entrez-dans-la-danse.jpg" />
                  </div>
                </div>
              </div>
            </li>
            <li class="repertoire-item close">
              <div class="repertoire-item__heading">
                <p>Jocaste</p>
                <div class="iconPlus">
                  <span class="plus"></span>
                  <span class="minus"></span>
                </div>
              </div>
              <div class="repertoire-item__content">
                <div class="repertoire-item__content--text">
                  <p><strong>Duo autour du
                      personnage de Jocaste,
                      amante, mère et femme d'
                      Oedipe.</strong></p>
                  <p>
                    «J’ai aimé Œdipe bébé, Œdipe
                    jeune homme, Œdipe époux et
                    père, amant fougueux, Œdipe
                    imparfait,
                    colérique, orgueilleux, Œdipe
                    penaud et erratique […]
                    J’ai aimé mes cinq enfants,
                    semblables et différents,
                    débordants de vie : Ismène la
                    douce, Antigone
                    l’écorchée, Etéocle l’inquiet,
                    Polynice le solaire, Œdipe le
                    premier et dernier…»
                  </p>
                  <p>
                    Performée à Bordeaux, dans le
                    cadre de la 8ème édition du
                    festival Soirées du cinéma
                    russe.
                    Performée
                    au
                    marché des Douves, au
                    Performance, dans le cadre de
                    Dansons sur les Quais et lors
                    du festival Le
                    Bruit
                    des Corps.
                  </p>
                  <p>
                    <strong>
                      Durée
                    </strong>
                    : 20 minutes <br>
                    <strong> Chorégraphie et
                      interprétation</strong> :
                    Bela BALSA / Côme TANGUY<br>
                    <strong> Inspiré de
                    </strong><em>Jocaste
                      Reine</em>, de Nancy
                    HUSTON<br>
                    <strong> Soutien</strong> : <a href="https://www.douves.org" target="blank">Marché des
                      Douves</a>,
                    <a href="https://www.dansonssurlesquais.fr/" target="_blank">Dansons sur
                      les Quais</a>, <a href="https://www.cie-revolution.com/le-performance/" target="_blank">Le
                      Performance</a>
                  </p>
                </div>
                <div class="repertoire-item__content--visual">
                  <div class="repertoire-item__content--img">
                    <img alt="Bela Jocaste" class="image" src="../images/bela-jocaste.jpg" />
                  </div>
                </div>
              </div>
            </li>
            <li class="repertoire-item close">
              <div class="repertoire-item__heading">
                <p>Mélodie des Corps</p>
                <div class="iconPlus">
                  <span class="plus"></span>
                  <span class="minus"></span>
                </div>
              </div>
              <div class="repertoire-item__content">
                <div class="repertoire-item__content--text">
                  <p>Cette création mêle
                    <strong>danse contemporaine et
                      chant choral</strong> pour
                    offrir une autre
                    approche de la musicalité, qui
                    puisse s’appuyer sur d’autres
                    outils que le son : <strong>la
                      vibration,
                      le toucher, la vue, le
                      mouvement</strong>.
                  </p>
                  <p><strong>
                      Création à l’initiative de
                      la Halle des Douves</strong>
                    pensée pour un public
                    malentendant.
                    Performée à Bordeaux au sein
                    de la Halle, ce spectacle a
                    réuni un public de 156
                    personnes.
                    <br>
                    Avec Marie Chavanel et les
                    élèves Cantabile et Cham du
                    Conservatoire de Bordeaux.
                  </p>
                  <p>
                    <strong>
                      Durée </strong>: 90
                    minutes<br>
                    <strong>Interprètes</strong> :
                    Bela BALSA / Charlotte MASSE /
                    Manon CAPRARO / Mélissa
                    MARTINEZ<br>
                    <strong>Chorégraphie</strong>
                    : Bela BALSA / Côme TANGUY<br>
                    <strong>Création
                      sonore</strong> : Mariele
                    BARAZIOL<br>
                    <strong>Réalisation
                      graphique</strong> : Clara
                    LANG<br>
                    <strong>Partenariats</strong>
                    : <a href="https://www.douves.org" target="blank">Marché des
                      Douves</a>
                    et <a href="http://www.bordeaux.fr/p63952/conservatoire-de-bordeaux" target="_blank">
                      Conservatoire
                      de
                      Bordeaux</a>
                  </p>
                </div>
                <div class="repertoire-item__content--visual">
                  <div class="repertoire-item__content--img">
                    <img alt="melodie des corps" class="image" src="../images/melodie-des-corps.jpg" />
                  </div>
                </div>
              </div>
            </li>
            <li class="repertoire-item close">
              <div class="repertoire-item__heading">
                <p>L'Antigone de Clios</p>
                <div class="iconPlus">
                  <span class="plus"></span>
                  <span class="minus"></span>
                </div>
              </div>
              <div class="repertoire-item__content">
                <div class="repertoire-item__content--text">
                  <p>
                    «Il n'a pas l'air méchant,
                    mais il y a pourtant dans son
                    regard quelque chose de
                    sauvage et d'amer
                    qui
                    l'effraie et la subjugue.
                    [...] Qu'il est beau avec ce
                    front haut sur lequel retombe
                    ses cheveux
                    noirs
                    et bouclés, sa bouche
                    éclatante sous le jeu amer du
                    sourire.» Antigone, H. Bauchau
                  </p>
                  <p>
                    <strong>Duo inspiré des
                      personnages d'Antigone et de
                      Clios</strong>, dans la
                    version romancée
                    d'Henri
                    Bauchau. La rencontre de ces
                    deux personnages, dans leur
                    errance à travers la Grèce,
                    les transforme
                    l'un l'autre. Clios est un
                    homme violent et impulsif qui
                    trouvera par Antigone sa
                    sérénité. Elle,
                    tout
                    en dévotion et abnégation,
                    incarne pourtant avec
                    puissance le combat pour
                    autrui. Ces deux
                    personnages, se retranscrivent
                    ici pour construire des
                    <strong>individus intemporels
                      et
                      présents</strong>, en accord
                    avec la fonction même du mythe
                    grec qui est de renvoyer à
                    notre
                    propre
                    condition.
                    <br>
                    <strong>Le plateau est un
                      espace noir et sans limites
                      où la lumière travaille à
                      effacer les
                      frontières
                      matérielles et créer les
                      espaces vides</strong>. Le
                    regard n'a comme point
                    d'accroche que ces deux
                    êtres qui y tracent leur
                    chemin, deux personnages
                    livrés à leur sort.
                  </p>
                  <p>
                    <strong>Performée à Toulouse,
                      Sens et Bordeaux</strong>,
                    dans le cadre du Festival
                    Ravensare, du
                    Concours des Jeunes
                    Chorégraphes Les Synodales
                    2016 – <strong>Lauréat Prix
                      des Synodales</strong> et de
                    Dansons sur les
                    Quais.
                  </p>
                  <p>
                    <strong>Durée</strong> : 20
                    minutes<br>
                    <strong>Chorégraphie et
                      interprétation</strong> :
                    Bela BALSA / Côme TANGUY<br>
                    <strong> Inspiré de</strong>
                    Oedipe sur la route et
                    Antigone, de Henri Bauchau<br>
                    <strong> Soutien</strong> :
                    <a href="https://www.laboiteajouer.com/" target="_blank">La Boite à
                      Jouer</a>, <a href="https://www.cie-revolution.com/le-performance/" target="_blank">Le
                      Performance</a>, <a href="https://www.dansonssurlesquais.fr/" target="_blank">Dansons sur
                      les
                      Quais</a>, <a href="https://www.facebook.com/synodales/" target="_blank">Les
                      Synodales</a>,<a href="https://festivalravensare.com/" target="_blank">Festival
                      Ravensare</a>
                  </p>
                </div>
                <div class="repertoire-item__content--visual">
                  <div class="repertoire-item__content--img">
                    <img alt="melodie des corps" class="image" src="../images/clios.jpg" />
                    <p class="img--credits">
                      Crédits : Steve Laurens</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>