<!-- GALLERY SECTION -->
<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="secondary-heading">Galerie</h2>

    <!-- MOBILE -->
    <div class="carousel">
      <ul class="image--list" id="gallery-container">
        <li class="image--item desktop--hidden image--item--12">
          <div class="image--item__container">
            <img class="image" src="../images/bela-4.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item desktop--hidden image--item--11">
          <div class="image--item__container">
            <img class="image" src="../images/bela-shadow.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item desktop--hidden image--item--10">
          <div class="image--item__container">
            <img class="image" src="../images/come-shadow.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item desktop--hidden image--item--9">
          <div class="image--item__container">
            <img class="image" src="../images/bela-3.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item desktop--hidden image--item--8">
          <div class="image--item__container">
            <img class="image" src="../images/document.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item desktop--hidden image--item--7">
          <div class="image--item__container">
            <img class="image" src="../images/scream.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item desktop--hidden image--item--6">
          <div class="image--item__container">
            <img class="image" src="../images/squat.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item desktop--hidden image--item--5">
          <div class="image--item__container">
            <img class="image" src="../images/bela-hand.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item image--item--4">
          <div class="image--item__container">
            <img class="image" src="../images/mobile.png" alt="mobile" />
          </div>
        </li>
        <li class="image--item image--item--3">
          <div class="image--item__container">
            <img class="image" src="../images/bela-2.png" alt="bela" />
          </div>
        </li>
        <li class="image--item image--item--2">
          <div class="image--item__container">
            <img class="image" src="../images/come.png" alt="come" />
          </div>
        </li>
        <li class="image--item image--item--1">
          <div class="image--item__container">
            <img class="image" src="../images/bela.png" alt="bela" />
          </div>
        </li>
        <li class="image--item image--item--1">
          <div class="image--item__container">
            <img class="image" src="../images/furiosa_bela_01.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item image--item--1">
          <div class="image--item__container">
            <img class="image" src="../images/furiosa_bela_02.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item image--item--1">
          <div class="image--item__container">
            <img class="image" src="../images/furiosa_bela_03.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item image--item--1">
          <div class="image--item__container">
            <img class="image" src="../images/furiosa_bela_04.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item image--item--1">
          <div class="image--item__container">
            <img class="image" src="../images/furiosa_bela_05.jpg" alt="bela" />
          </div>
        </li>
        <li class="image--item image--item--1">
          <div class="image--item__container">
            <img
              class="image"
              src="../images/fleur-avril-bela-martina.jpg"
              alt="Come Martina"
            />
          </div>
        </li>
        <li class="image--item image--item--1">
          <div class="image--item__container">
            <img
              class="image"
              src="../images/fleur-avril-bottle.jpg"
              alt="Come Martina"
            />
          </div>
        </li>
        <li class="image--item image--item--1">
          <div class="image--item__container">
            <img
              class="image"
              src="../images/fleur-avril-come-martina.jpg"
              alt="Come Martina"
            />
          </div>
        </li>
        <li class="image--item image--item--1">
          <div class="image--item__container">
            <img
              class="image"
              src="../images/fleur-avril-bela-martina-come.jpg"
              alt="Come Martina"
            />
          </div>
        </li>
      </ul>

      <div class="slider--controls hidden" id="slider--controls"></div>
    </div>

    <!-- DESKTOP -->
    <div class="carousel--desktop__container" id="carousel-desktop">
      <button id="btn-carousel-left" class="btn-carousel btn-carousel--left">
        <i class="fas fa-chevron-left"></i>
      </button>
      <div class="carousel--desktop mobile--hidden" id="carousel--desktop">
        <ul class="carousel__gallery" id="gallery--desktop">
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/bela-4.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/bela-shadow.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/come-shadow.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/bela-3.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/document.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/scream.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/squat.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/bela-hand.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/mobile.png" alt="mobile" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/bela-2.png" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/come.png" alt="come" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/bela.png" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/furiosa_bela_01.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/furiosa_bela_02.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/furiosa_bela_03.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/furiosa_bela_04.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img class="img" src="../images/furiosa_bela_05.jpg" alt="bela" />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img
                class="img"
                src="../images/fleur-avril-come-martina.jpg"
                alt="Come Martina"
              />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img
                class="img"
                src="../images/fleur-avril-bela-martina.jpg"
                alt="Come Martina"
              />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img
                class="img"
                src="../images/fleur-avril-bottle.jpg"
                alt="Come Martina"
              />
            </div>
          </li>
          <li class="gallery__item">
            <div class="gallery__item__container">
              <img
                class="img"
                src="../images/fleur-avril-bela-martina-come.jpg"
                alt="Come Martina"
              />
            </div>
          </li>
        </ul>
      </div>
      <button id="btn-carousel-right" class="btn-carousel btn-carousel--right">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</section>
