<!-- HERO SECTION -->
<section id="hero" class="hero">
  <div class="container">
    <div class="logo-container">
      <div class="logo-container__background"></div>
      <img
        alt="logo bela et come"
        class="logo"
        src="../images/logo-bela-come.svg"
      />
    </div>
    <!-- <div class="catch-phrase">
        <p>
          Du corps dans la voix.
        </p>
        <p>
          Une parole en mouvement.
        </p>
      </div> -->

    <!-- Mobile only -->
    <div class="btn--container desktop--hidden">
      <a href="#avril" class="btn--base btn--color-primary">
        <strong>Avril</strong> <br />
        Création en cours
      </a>
      <a href="#residence" class="btn--base btn--color-primary">
        Accueil <br />
        en résidence
      </a>
    </div>
    <!-- Nav mobile -->
    <div id="mobile-nav" class="menu--mobile desktop--hidden">
      <button id="toggle-nav-btn" class="btn--toggle--nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="menu__overlay" id="mobile-nav-overlay"></div>
      <nav class="menu__navigation">
        <ul class="menu__links">
          <li class="menu__item">
            <a class="menu__link" href="#compagnie">La Compagnie</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#avril">Avril</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#gallery">Galerie</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#residence">Accueil en résidence</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Nav desktop -->
    <nav class="menu mobile--hidden">
      <ul class="first-list">
        <li>
          <a id="link1" class="link" href="#compagnie">La Compagnie </a>
        </li>
        <!-- <li><a class="link link--furiosa" href="#furiosa">Furiosa</a></li> -->
        <li><a class="link link--highlight" href="#avril">Avril</a></li>
        <li><a class="link" href="#contact">Contact</a></li>
      </ul>
      <div class="svg--container">
        <span></span>
        <svg
          class="svg--zigzag"
          viewBox="0 0 100 15"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M 0,0 L 25,15 L 50,0 L 75,15 L 100,0"
            stroke="white"
            stroke-width="0.2"
            stroke-linecap="round"
            fill="transparent"
          />
        </svg>
        <span></span>
      </div>
      <ul class="second-list">
        <span></span>
        <li>
          <a class="link" id="link2" href="#gallery">Galerie</a>
        </li>
        <li><a class="link" href="#residence">Accueil en résidence</a></li>
        <span></span>
      </ul>
    </nav>
  </div>
  <div class="background--bottom"></div>
</section>
