///////////// COLORS
///////////

$white: #fff;
$black: #000;
$blackRGB: rgb(0, 0, 0);
$red: #ff0000;

$mine-shaft: #242424;
$tundora: #444;
$dove-gray: #707070;

$fountain-blue: #5dbeba;

$school-bus-yellow: #ffde00;

// Main variables
$primary-color: $fountain-blue;
$secondary-color: $school-bus-yellow;
$tertiary-color: $tundora;
$gray-light: $dove-gray;
$gray-dark:$mine-shaft;
$font-color: $gray-dark;

//////////
// FONTS
//////////

// Roboto
$fontRoboto: 'Roboto',
sans-serif;

// Source Code
$sourceCode-path: '../assets/fonts/source-code-pro/SourceCodePro-Medium.otf';

// Base 02
// $base02-path: '/assets/fonts/base_02/Base02.ttf';

@font-face {
  font-family: SourceCode;
  src: url($sourceCode-path);
  font-weight: normal;
  font-style: normal;
}

////////////////
// FONT WEIGHT
////////////////

$fontWeightLight: 300;
$fontWeightBase: 400;
$fontWeightSemi: 500;
$fontWeightBold: 600;
$fontWeightBolder: 700;

/////////////////
// Z-INDEX

/////////////////
$zindex-contact-section: 50;
$zindex-residence-section: 60;
$zindex-mobile-nav-overlay: 400;
$zindex-mobile-nav: 500;
$zindex-mobile-nav-toggle: 600;
$zindex-modal-backdrop: 1000;
$zindex-modal: 1100;

/////////////////
// SCREEN SIZES
/////////////////

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;