////////////////////////////////
// BOX SIZING FOR ALL ELEMENTS
////////////////////////////////

*,
::before,
::after {
  box-sizing: border-box;
}

// We're using "em" as font-size/margin/padding unit
// It is set on the body font-size and varies depending on screen sizes
html {
  font-size: 100%; // default 16px
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: $fontRoboto;
  color: $font-color;

  &.modal-open {
    overflow: hidden;
  }

  @include screen-sm {

    p {
      font-size: 0.9rem;
    }
  }
}

//////////
// RESET
//////////

div,
section,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
label,
button,
input {
  margin: 0;
  padding: 0;
  font-weight: $fontWeightBase;
  font-family: $fontRoboto;
}

a {
  text-decoration: none;
  border: none;
  outline: none;
}

li {
  list-style: none;
}

///////////
// BUTTON
///////////
button,
.btn {
  outline: none;
  border: none;
}

// CANCELS OUTLINE INPUT
input,
button,
select,
textarea {
  &:focus {
    outline: none;
  }
}

///////////
// CLASSES
///////////
.hidden {
  display: none !important;
}

.mobile--hidden {
  display: none !important;

  @include screen-sm() {
    display: flex !important;
  }
}

.desktop--hidden {
  display: flex;

  @include screen-sm() {
    display: none !important;
  }
}

.font-color-primary {
  color: $primary-color;
}

//////////
// HACKS
//////////

//CANCELS SAFARI INPUT ICON
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input:focus::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

//CANCELS INTERNET EXPLORER AND EDGE CLEAR INPUT ICON
input::-ms-clear {
  display: none;
}

//CANCELS THE YELLOW BACKGROUND COLOR ON INPUT AUTOFILL ON CHROME
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}